<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Travelling</title>
        <link rel="stylesheet" href="Style.css">
        <script src="Dates.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div id="container">
            <h1 id="heading">Travelling</h1>
            
            <img id="picture" src="Picture.JPG" alt="Picture">
            
            <div id="table">
                <table>
                    <tr>
                        <th>Country</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>Iceland</td>
                        <td>July 2020</td>
                    </tr>
                    <tr>
                        <td>Spain</td>
                        <td>August 2021</td>
                    </tr>
                    <tr>
                        <td>Italy</td>
                        <td>February 2022</td>
                    </tr>
                    <tr>
                        <td>Australia</td>
                        <td>July 2022</td>
                    </tr>
                </table>
            </div>

            <div id="checklist">
                <div v-for="country in countries" :key="country.title" 
                :style="{ textDecoration: country.checked? 'line-through':'none' }">
                <input type="checkbox" v-model="country.checked" />
                {{ country.title }}
                </div>
            </div>

            <div id="par">
                <p>If you need any more information about HTML, visit 
                <a href="https://www.w3schools.com/">W3Schools.com</a>
                </p>
            </div>

            <button id="button1" type="button" onclick="getDate()">
                Show date and time
            </button>
            <p id="date"></p>

            <button id="button2" type="button" onclick="getTomorrow()">
                Show date and time of my next travel
            </button>
            <p id="tomorrow"></p>

        
        </div>
        
    </body>

</html>
<script src="Checklist.js"></script>